.App {
  padding: 2em;
  text-align: center;
}

.CompanyList__List {
  list-style-type: none;
}

.CompanyList__Filter {
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 6px;
}

.CompanyList__Filter:not(:last-of-type) {
  margin-right: 1em;
}

.CompanyList__Filter--active {
  background: teal;
  color: #fff;
}
